<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Game CRUD</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
</head>
<body>
	<div class="container my-2">
		<h1>O Id pelo qual você está procurando não existe</h1>		
		<a th:href="@{/games}">Retornar para a lista de games</a>
	</div>
</body>
</html>