<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title>Game CRUD</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">

</head>
<body>

	<div class="container my-2">
		<a th:href="@{/game/new}" class="btn btn-primary btn-sm mb-3">Adicionar
			game</a>
		<h1>Games</h1>
		<div class="mb-4">
			<form th:action="@{/game/search}" method="get" class="d-inline-flex">
				<input type="number" name="idSearch" th:value="${idSearch}"
					class="form-control mr-4 d-inline-flex">
				<button type="submit" class="btn btn-info btn-sm d-inline">Buscar ID</button>
			</form>
		</div>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="game : ${gameList}">
					<td th:text="${game.id}"></td>
					<td><a th:text="${game.name}"
						th:href="@{/game/{id}(id=${game.id})}"></a></td>
					<td><a th:href="@{/game/{id}/changeName(id=${game.id})}"
						class="btn btn-primary">Alterar Nome</a> <a
						th:href="@{/game/{id}/changeAll(id=${game.id})}"
						class="btn btn-warning">Alterar Tudo</a> <a
						th:href="@{/game/{id}/delete(id=${game.id})}"
						class="btn btn-danger">Excluir</a></td>
				</tr>
			</tbody>
		</table>
		<nav aria-label="...">
			<ul class="pagination">
				<li th:if="${gameList.totalPages > 0}"
					th:each="pageNum : ${totalPages}"
					th:class="${pageNum==gameList.number + 1} ? 'page-item active' : 'page-item'">
					<a class="page-link"
					th:href="@{/games(pageNumber=${pageNum}, pageSize=${5},)}"
					th:text=${pageNum}></a>
				</li>
			</ul>
		</nav>
	</div>
</body>
</html>