<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Game CRUD</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
</head>
<body>
	<div class="container my-2">
		<h2>Editando Game</h2>
		<form action="#" th:action="@{/game/saveAll}" th:object="${game}" method="POST">
			<input type="hidden" id="id" th:field="*{id}">
			<div>Nome</div>
			<input type="text" th:field="*{name}" placeholder="Nome" class="form-control mb-4 col-4">
			<div>Nome do Desenvolvedor</div>
			<input type="text" th:field="*{developerName}" placeholder="Nome da Desenvolvedora" class="form-control mb-4 col-4">
			<div>Preço</div>
			<input type="text" th:field="*{price}" placeholder="Preço" class="form-control mb-4 col-4">
			
			<div>Data de Criação</div>
			<input type="date" th:field="*{createdAt}" class="form-control mb-4 col-4">
			<div>Data de Edição</div>
			<input type="date" th:field="*{editedAt}" class="form-control mb-4 col-4">		
			
			
			<button type="submit" class="btn btn-info col-2">Salvar</button>
		</form>
		<hr>
		<a th:href="@{/games}">Retornar para a lista de games</a>
	</div>
</body>
</html>