<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title>Game CRUD</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">

</head>
<body>

	<div class="container my-2">
		<h1 th:text="'Game - ' + ${game.name}"></h1>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>Nome do Desenvolvedor</th>
					<th>Preço</th>
					<th>Data de Criação</th>
					<th>Data de Edição</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${game.id}"></td>
					<td th:text="${game.name}"></td>
					<td th:text="${game.developerName}"></td>
					<td th:text="'R$ ' + ${game.price}"></td>
					<td th:text="${game.createdAt}"></td>
					<td th:text="${game.editedAt}"></td>
				</tr>
			</tbody>
		</table>
		<a th:href="@{/games}">Retornar para a lista de games</a>
	</div>
</body>
</html>